In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import sqlite3
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

In [50]:
train = pd.read_csv('train.csv')
Y_train = train.Survived
test = pd.read_csv('test.csv')

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       890 non-null float64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 83.6+ KB

データを取り回しやすくするために不要なものを削除したり、null値を平均値で埋める

In [52]:
train = train.drop(['PassengerId','Survived','Name','Ticket','Cabin'],1)
test = test.drop(['Name','Ticket','Cabin'],1)

In [53]:
train.Age = train.Age.fillna(train.Age.mean())
test.Age = test.Age.fillna(test.Age.mean())

In [61]:
train.Embarked = train.Embarked.fillna("S")

In [64]:
train.Sex = train.Sex.replace('male',0).replace('female',1)
test.Sex = test.Sex.replace('male',0).replace('female',1)
train.Embarked = train.Embarked.replace('S',0).replace('C',1).replace('Q',2)
test.Embarked = test.Embarked.replace('S',0).replace('C',1).replace('Q',2)

In [66]:
train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         0
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         0
3       1    1  35.0      1      0  53.1000         0
4       3    0  35.0      0      0   8.0500         0

In [67]:
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    0  34.5      0      0   7.8292         2
1          893       3    1  47.0      1      0   7.0000         0
2          894       2    0  62.0      0      0   9.6875         2
3          895       3    0  27.0      0      0   8.6625         0
4          896       3    1  22.0      1      1  12.2875         0

In [68]:
rf = RandomForestClassifier()

In [73]:
rf.fit(train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [81]:
test.Fare = test.Fare.fillna(test.Fare.mean())

In [92]:
i = test.PassengerId
test = test.drop(['PassengerId'],1)

In [93]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Sex         891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null int64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

In [94]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass      418 non-null int64
Sex         418 non-null int64
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        418 non-null float64
Embarked    418 non-null int64
dtypes: float64(2), int64(5)
memory usage: 22.9 KB

In [98]:
print('train_score: {}'.format(rf.score(train,Y_train)))

train_score: 0.9663299663299664

In [99]:
pred = rf.predict(test)

In [104]:
pred_df = pd.DataFrame({'PassengerId':i,'Survived':pred})

In [105]:
pred_df.to_csv('tita_pred.csv',index=None)